// app global css in SCSS form

.logo-font {
  font-family: Merriweather sans-serif;
}

.border-primary {
  border: 1px solid $primary;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
